<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
</head>
  <body>
    {% if game_over %}
        <h1>Game over</h1>
        {% if game.winner_name %}
            <h2>Winner is: {{ game.winner_name}}</h2>
            Correctly guessed target number {{ game.selected_num }}
        {% else %}
            <h2>No winner</h2>
            No player guessed target number {{ game.selected_num }}
        {% endif %}
    {% else %}
        <h1>Game in progress</h1>
    {% endif %}

    {% if num_players < expected_players %}
    <h2>Waiting for {{expected_players - num_players}} players to join</h2>
    {% endif %}

    <h2>Players</h2>
    {% for player in players %}
        {% if player.player %}
            {% if player.player.name %}
                <b>{{ player.player.name }}</b>: {{player.turns}} / {{ game.max_turns }} turns
                <br>
            {% endif %}
        {% endif %}
    {% endfor %}

    <h2>Game definition</h2>
    Players should guess a target number between {{ game.min_num }} and {{ game.max_num }} using up to {{ game.max_turns }} turns
    <br>
    <br>
    Game created: {{ game.date }}


  </body>
</html>
{% endautoescape %}